@model EditVM
@{
    SelectList selcetedDept = new SelectList(Model.Departments, "DeptID", "Name");
}


<form method="post" asp-action="Edit" asp-controller="Course" asp-route-id="@Model.ID">

    <div asp-validation-summary="All" class="text-danger"></div>


    <div>
        <label asp-for="Degree"></label>

        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>
    <div>
        
        <label asp-for="mindDegree">Min Degree</label>

        <input asp-for="mindDegree" class="form-control" />
        <span asp-validation-for="mindDegree" class="text-danger"></span>

    </div>
    <div>

        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>


    </div>
    <div>
        @*    <label>Department</label>
        <select name="DepartmentID" class="form-control">
        @foreach (DepartmentVM item in Model.DepartmentsVM)
        {
        @if (item.ID == @Model.DepartmentID)
        {

        <option value="@item.ID" selected> @item.Name</option>
        }
        else
        {
        <option value="@item.ID"> @item.Name</option>

        }

        }
        </select>
        *@
        <label asp-for="departmentID">Department</label>

        <select asp-for="departmentID" asp-items="selcetedDept" class="form-control">
        </select>
        <span asp-validation-for="departmentID" class="text-danger"></span>

    </div>
   
    <input type="submit" value="save" class="btn btn-primary" />

</form>

<a asp-action="GetAllCourses" asp-controller="Course" class="btn btn-primary">back to list</a>

 @section test {
     <h1>
        HEllo @Model.Name Register
     </h1>
 }

@section validate
 {
    <partial name="_ValidationScriptsPartial">
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
}